@model IEnumerable<vesion15.Models.TaiKhoan>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDangNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTK">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTK">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTK">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
