@model IEnumerable<vesion15.Models.HoSo>

<table class="table">
    <thead>
        
            <a asp-action="Create">Create New</a>
        
        <tr>
            <th>Mã HS</th>
            <th>Họ Tên</th>
            <th>Ngày Sinh</th>
            <th>Địa Chỉ</th>
            <th>Ảnh Hồ Sơ</th>
            <th>Mã Căn Cước Công Dân</th>
            <th>Mã Ngành</th>
            <th>Trạng Thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaHS)</td>
                <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                <td>@item.NgaySinh.ToShortDateString()</td>
                <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                <td><a href="@Url.Action("ViewImage", "HoSoes", new { id = item.MaHS })">Xem ảnh</a></td>

                <td>@Html.DisplayFor(modelItem => item.MaCanCuocCongDan)</td>
                <td>@Html.DisplayFor(modelItem => item.MaNganh)</td>
                <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
            </tr>
        }
    </tbody>
</table>
